<div class="grid-header">
    <h1>Project Stream</h1>
  </div>
<div class="row main-content">
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img [src]="slideImage1" alt="slide1" width="100%" height="500">
                  </div>
                  <div class="carousel-item">
                    <img [src]="slideImage2" alt="slide2" width="100%" height="500">
                  </div>
                  <div class="carousel-item">
                    <img [src]="slideImage3" alt="slide3" width="100%" height="500">
                  </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>

            <div class="column project-stream">
                <h3>LUXE Creative is a full-service design studio working in the worlds of design for hire, luxury events, live music,&nbsp;the arts, interiors,&nbsp;fashion, marketing + lifestyle design.</h3>
                <h3>The Short: We combine Art, Design + Technology to provide turnkey solutions for<em>&nbsp;</em>our clients’ design, creative + production needs.</h3>
                <h3>We work with Corporations, Organizations,&nbsp;Charities,&nbsp;Foundations,&nbsp;Private Clients,&nbsp;Individuals + Families on a selective basis.
                </h3>
            </div> 
            