
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 nav-menu">
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Attend</a>
        <a href="#">sessions</a>
        <a href="#">Blog</a>
        <a href="#">Sponsors</a>
        <a href="#">Email subscription</a>
        <a href="#">Social Media</a>
        <a href="#">Contact Us</a>
      </div>
      <a style="font-size:30px;cursor:pointer;" (click)="openNav()">&#9776; Menu</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-8 logo-center">
            <img class="logo" [src]="logo" alt="Interior">
          
    </div>
    <div class="col-sm-3 col-md-3 col-lg-2 welcome-msg">
            <p *ngIf = "this.currentUser">  Welcome {{currentUser.firstName}} <a [routerLink]="['/login']">Logout</a></p>
    </div>
    </div>


<!-- main app container -->
<div class="spa-content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Footer -->


<div class="home-footer">
    <div>
        <div class="footer-mailchimp">
      
          <form id="subscribe-form" name="subscribe-form" class="validate mailchimp" target="_blank" novalidate="">
      
              <div class="mce-fields">
                <div id="fieldgroup">
                  <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="SUBSCRIBE FOR NEWS ALERTS"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">SEND</button>
                </div>
              </div>
      
             <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" tabindex="-1" value=""></div>
      
          </form>
      
        </div> 
      
        <div class="footer-address">
          <a class="no-route" href="+11234567890">+1(123)4567-890</a>
          <a class="no-route" href="mailto:hello@abcdCompany.com">hello@abcdCompany.com</a>
        </div>
      </div>
      <div class="footer-socials">
            <a href="#" target="_blank"><span class="icon"><img [src]="facebook" width="40px" height="40px"></span></a>
            <a href="#" target="_blank"><span class="icon"><img [src]="twitter" width="40px" height="40px"></span></a>
            <a href="#" target="_blank"><span class="icon"><img [src]="instagram" width="40px" height="40px"></span></a>
            <a href="#" target="_blank"><span class="icon"><img [src]="youtube" width="40px" height="40px"></span></a>
          </div>
      <div class="footer text-center">
            <p>
                <a href="#" target="_top">@Copy rights 2018 abcd Company</a>
            </p>
            <p>
                <a href="#" target="_top">abcdCompany.com</a>
            </p>
        </div>
        </div>
    </div>