
<div class="container-fluid">
<div class="row header">
    <div class="nav-menu">
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a [routerLink]="['/']" (click)="closeNav()">Home</a>
        <a [routerLink]="['/behindTheDesign']" (click)="closeNav()">Behind the Design</a>
        <a [routerLink]="['/whatWeDo']" (click)="closeNav()">What We Do</a>
        <a [routerLink]="['/projectStream']" (click)="closeNav()">Project Stream</a>
        <a href="https://vimeo.com/user31636443" (click)="closeNav()">Video</a>
        <a href="#" (click)="closeNav()">Connect</a>
        <a href="#" (click)="closeNav()">Employment</a>
        <br>
        <div class="social menu__animated">
            <a href="https://www.facebook.com/LUXECompanies/" target="_blank" class="no-route">Facebook</a>
            <a href="https://twitter.com/luxecompanies?lang=en" target="_blank" class="no-route">Twitter</a>
            <a href="https://www.instagram.com/luxecreativeofficial/" target="_blank" class="no-route">Instagram</a>
            <a href="https://www.youtube.com/watch?v=JzAdlSWJq3o" target="_blank" class="no-route">Youtube</a>
          </div>
      </div>
        
      <a style="font-size:40px;cursor:pointer;padding: 20px;" (click)="openNav()">&#9776;</a>
    </div>
    <div class="logo-center">
            <img class="logo" [src]="logo" alt="Interior">
          
    </div>
    <div class="welcome-msg">
        <app-welcome-message></app-welcome-message>
        </div>
    </div>


<!-- main app container -->
<div class="spa-content">
    <div class="container-fluid">
        <div>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Footer -->
<app-back-to-top></app-back-to-top>

<div class="home-footer">
        <div class="footer-mailchimp">
      
          <form id="subscribe-form" name="subscribe-form" class="validate mailchimp" target="_blank" novalidate="">
      
              <div class="mce-fields">
                <div id="fieldgroup">
                  <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="SUBSCRIBE FOR NEWS ALERTS"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">SEND</button>
                </div>
              </div>
      
             <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" tabindex="-1" value=""></div>
          </form>
        </div> 
    
      <div class="footer-socials">
            <a href="https://www.facebook.com/LUXECompanies/" target="_blank"><span class="icon"><img [src]="facebook" width="40px" height="40px"></span></a>
            <a href="https://twitter.com/luxecompanies?lang=en" target="_blank"><span class="icon"><img [src]="twitter" width="40px" height="40px"></span></a>
            <a href="https://www.instagram.com/luxecreativeofficial/" target="_blank"><span class="icon"><img [src]="instagram" width="40px" height="40px"></span></a>
            <a href="https://www.youtube.com/watch?v=JzAdlSWJq3o" target="_blank"><span class="icon"><img [src]="youtube" width="40px" height="40px"></span></a>
          </div>
      <div class="footer text-center">
                <a href="#" target="_top">LCS@Copy right 2018 | All Rights Reserved</a>
        </div>
        </div>
    </div>