.column img {
    margin: 15px 0;
    vertical-align: middle;
    height: 30%;
    padding: 0px;
}
.row .column{
    max-width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .row .column{
        max-width: 100%;
    }
}