/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Lato", sans-serif;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 20px;
    font-size: 40px;
    margin-left: 20px;
}
.menu__animated.social{
    transition-delay: .16s;
    text-align: center;
}
.menu__animated{
    opacity: 1;
    transform: translateZ(0);
    transition: transform 1.11s cubic-bezier(.165,.84,.44,1),opacity 1.11s ease;
}
.menu__animated a{
    font-size: 18px !important;
}
.social{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 5vh;
}
.social a {
    margin-right: 1.3888vw;
    display: inline-block;
    color: #fff;
    opacity: 1;
}
.main-content{
    background-color: white;
}
.logo{
    height: 100px;
    padding: 20px;
}
.logo-center{
    text-align: center;
}
.nav-menu{
    font-size: 20px;
    width: 30%;
    text-align: left;
    padding: 20px;
    margin: 15px 0px !important;
}
.logo-center{
    width: 40%;
}
.welcome-msg{
    font-size: 20px;
    width: 30%;
    text-align: right;
    padding: 20px;
}
.welcome-message{
    padding: 20px;
    margin: 0;
}

.home-section video {
    position: absolute;
    opacity: 0.5;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
.video-layout{
    width: 100%;
    height: 100%;
}

.spa-content{
    background-color: #e9ecef;
}
.footer{
    font-size: 18px;
    padding: 15px;
    background: #000;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.home-footer {
    padding: 20px 0px;
    font-family: neuzeit-grotesk,sans-serif;
    background: #000;
    color: #fff;
    line-height: 1;
    letter-spacing: .08em;
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.footer-mailchimp {
    width: 40%;
    height: 2.7776vw;
    position: relative;
    text-align: center;
}
.footer-mailchimp .input {
    width: 23.6096vw;
    height: 2.7776vw;
    font-size: .83328vw;
    border: 1px solid #fff;
    color: #fff;
    margin: 0;
    padding: 0 6.2496vw 0 12px;
    letter-spacing: .1em;
    text-align: left;
    transition: background .5s,color .5s;
    border-radius: 0;
    background-color: transparent!important;
}
.footer-mailchimp button {
    color: #fff;
    width: 5.5552vw;
    position: absolute;
    top: 0;
    font-size: .83328vw;
    border: 1px solid #fff;
    margin: 0;
    height: 2.7776vw;
    text-align: center;
    cursor: pointer;
    transition: background .3s,color .3s;
    letter-spacing: .1em;
    background-color: darkslategray;
}
.footer-socials{
    width: 20%;
    text-align: center;
}
.footer.text-center{
     width: 40% !important;
     text-align: center !important;
}
.home-footer .footer-socials a {
    position: relative;
    display: inline-block;
    width: 2.63872vw;
    height: 2.63872vw;
    border-radius: 50%;
    margin: 0 .3472vw;
    transition: color .3s,background .3s,border .3s;
}
.wf-active a, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active p {
    opacity: 1;
}
.home-footer .footer-socials a .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
}
svg {
    width: 100%;
    height: 100%;
}
svg:not(:root) {
    overflow: hidden;
}
.home-footer .footer-socials a .icon.icon--rollover, .home-footer .footer-socials a:hover .icon {
    opacity: 0;
}
.home-footer .footer-socials a .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
}
.home-footer .footer-address {
    display: inline-block;
    float: right;
    text-align: right;
    font-size: .83328vw;
    padding: 10px;
}
.home-footer .footer-address a:first-child {
    padding-left: 0;
}
.home-footer .footer-address a {
    display: inline-block;
    vertical-align: middle;
    font-size: .83328vw;
    position: relative;
    color: #fff;
    padding: 0 0 0 1.2em;
    line-height: 1.4;
    text-transform: uppercase;
}
.zoomClass {
    animation : 10s linear 1s normal none infinite zoominoutl;
    padding: 20px !important;
}
.zoomClass img{
    padding:20px;
}
.img-two-grid img{
        height: 100% !important;
        padding: 20px;
    }
.img-two-grid .column{
    max-width: 50% !important;
}

 #lp-pom-image-1 { display:none; }

 .col-sm-12{
     padding: 0px !important;
 }
 .copyRights{
     font-size: 16px;
 }
 .img-four-grid{
    padding: 50px;
}
.grid-header{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0px;
    margin: 0;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
    .sidenav {
        padding-top: 15px;
      }
    .sidenav a {font-size: 18px;}
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .header{
        width: 100%;
    }
    .nav-menu{
        width: 30%;
        margin: 0px;
        padding: 0px;
    }
    .logo-center{
        width: 40%;
    }
    .logo{
        height: 40px;
        width: 100px;
        padding: 0px;
        margin: 25px 0px;
    }
    .welcome-msg{
        width: 30%;
        padding: 0px;
    }
    .welcome-message{
        padding: 5px 5px 5px 0px;
        font-size: 14px !important;
        margin: 20px 0px;
    }
    .home-footer{
        display: block;
    }
    .footer-mailchimp{
        width: 100% !important;
        text-align: center;
    }
    .footer-socials{
        width: 100% !important;
        text-align: center;
    }
    .footer.text-center{
        width:100% !important;
        text-align: center;
    }
}