<div class="container-fluid">
            <div class="row"> 
              <video class="video-layout" [src]="video1" autoplay="" muted="" loop="" playsinline=""></video>
            </div>
                            <!-- Photo Grid -->
                            <div class="grid-header">
                                <h1>Our cave of wonders</h1>
                              </div>
                            <div class="row img-four-grid"> 
                              <div class="column zoomClass">
                                  <img [src]="trendImage5" style="width:100%" class="fade-visible">
                                  <img [src]="trendImage6" style="width:100%" class="fade-visible"> 
                              </div>
                              <div class="column zoomClass">
                                <img [src]="trendImage7" style="width:100%" class="fade-visible">
                                <img [src]="trendImage8" style="width:100%" class="fade-visible">
                             </div>
                              <div class="column zoomClass">
                                  <img [src]="trendImage1" style="width:100%" class="fade-visible">
                                  <img [src]="trendImage2" style="width:100%" class="fade-visible">
                              </div>
                              <div class="column zoomClass">
                                <img [src]="trendImage3" style="width:100%" class="fade-visible">
                                <img [src]="trendImage4" style="width:100%" class="fade-visible">
                            </div>
                </div>
            <div class="row main-content">
                <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img [src]="slideImage1" alt="slide1" width="100%" height="500">
                              </div>
                              <div class="carousel-item">
                                <img [src]="slideImage2" alt="slide2" width="100%" height="500">
                              </div>
                              <div class="carousel-item">
                                <img [src]="slideImage3" alt="slide3" width="100%" height="500">
                              </div>
                            </div>
                            
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        </div>
    
            <!-- Photo Grid -->
            
            <div class="grid-header">
              <h1>Latest projects</h1>
            </div>
            <div class="row img-two-grid"> 
              <div class="column">
                  <img [src]="LargeImage1" style="width:100%">
              </div>
              <div class="column">
                <img [src]="LargeImage2" style="width:100%">
              </div>
            </div>

      
</div>