body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.main-content{
    background-color: green;
    padding-bottom: 20px;
}
.carousel{
    width: 100%;
}
.carousel-indicators{
    width: auto;
}
.logo{
    height: 100px;
}
.logo-center{
    text-align: center;
}
.nav-menu, .welcome-msg{
    margin: auto;
    font-size: 20px;
}
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 15px;
}

.column img {
    margin: 15px 0;
    vertical-align: middle;
    height: 25%;
}
.home-section video {
    position: absolute;
    opacity: 0.5;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
.video-layout{
    width: 100%;
    height: 100%;
}
.fade-visible {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}